@use "config" as conf;


.about {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 130px repeat(5, 1fr);
}

.skills {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 130px repeat(7, 1fr);

    img {
        justify-self: start;
        width: 80%;
    }

}

.projects {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 130px repeat(7, 1fr);


    .swiper-projects {
        .swiper-slide {
            .links {
        
                .link01,
                .link02 {
        
                  img {
                    width: 40%;
                    height: 40%;
                  }
        
                  &:hover {
                    filter: invert(0.8) sepia(0.6) hue-rotate(229deg) saturate(10);
                  }
                }
        
              }
            img {
                height: 90%;
            }

            .slide-text {
                .language {
                    img {
                        top: 30%;
                        width: 35%;
                    }
                }
            }
        }
    }
}

.contact {
    grid-template-columns: 100px repeat(2, 1fr);
    grid-template-rows: 130px repeat(6, 1fr);

    form {
        gap: .5em;

        textarea {
            height: 10em;
        }

        label {
            gap: .5em;
        }


    }
}